body {
  font-family: calibri, helvetica, courier, sans-serif;
}

#page {
  display: grid;
  width: 100%;
  background-image: url("/assets/blocChatBackground.jpg");
  background-size: cover;
  opacity: .8;
  height: 1000px;
  grid-template: [header-left] "head head" 100px [header-right]
                 [main-left]   "nav  main" 1fr  [main-right]
                 [footer-left] "nav  foot" 60px [footer-right]
                 / 250px 1fr;
}

header {
  background-color: #557A95;
  color: white;
  grid-area: head;
  margin: 0 50px 0 50px;
}

header h1 {
  padding: 10px;
  font-size: 300%;
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

img {
  height: 100%;
  padding: 15px;
  float: right;
}

nav {
  background-color: lightgrey;
  opacity: .8;
  color: darkgrey;
  grid-area: nav;
  margin-left: 50px;
}

nav h2 {
  padding: 10px;
  font-size: 200%;
  font-family: 'Patrick Hand SC', cursive;
  color: #557A95;
}

nav p {
  padding: 0 10px 0 20px;
  color: #557A95;
}

#newBtn {
  background-color: #7395AE;
  color: white;
  border-style: none;
  margin-bottom: 20px;
  margin-left: 10px;
}

main {
  background-color: white;
  grid-area: main;
  margin-right: 50px;
}

main h2 {
  padding: 10px 20px 10px 20px;
  font-size: 200%;
  font-family: 'Patrick Hand SC', cursive;
  color: #B1A296;
}

footer {
  background-color: #B1A296;
  color: white;
  grid-column: foot;
  margin-right: 50px;
}

.modal-header {
  background-color: lightgrey;
  color: #557A95;
  border-radius: 5px;
  font-family: 'Patrick Hand SC', cursive;
}

.inputBox {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#cancelBtn {
  background-color: #B1A296;
  border-style: none;
}

/*dark grey #5D5C61
light grey
light blue #7395AE
dark blue #557A95
brownish #B1A296
*/

.message-border {
  border-top: 1px solid lightgrey;
}

.message-left {
  display: inline-block;
}

.message-username {
  padding: 10px 20px 0px 20px;
  color: darkgrey;
  font-size: 90%;
}

.message-content {
  padding: 0px 20px 10px 20px;
}

.message-sentAt {
  float: right;
  vertical-align: top;
  padding: 10px 20px 0px 20px;
  font-style: italic;
  color: darkgrey;
  font-size: 80%;
}

.message-item:nth-child(odd){
  background: #F0F8FF;
}

.username-Modal {
  padding: 0 10px 10px 10px;
}

.modal-header {
  background-color: #B1A296;
  color: white;
}

.username-input {
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
